.gallery {
    padding: 40px;
    background-color: #fff6f0;
}

.gallery h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.gallery-card {
    width: 260px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.gallery-card:hover {
    transform: scale(1.03);
}

.gallery-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery-info {
    padding: 15px;
}

.gallery-info h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.gallery-info p {
    font-size: 14px;
    color: #555;
}